<% @collections.each do |collection| %>
<li>
	<div class="hover-buttons">
		<% if current_user?(@user) || current_user.admin? %>
			<%= link_to "Delete", collection, method: :delete,	confirm: "You sure?", title: collection.name, class: "btn btn-small btn-danger" %>
			<%= link_to "Edit", edit_collection_path, class: "btn btn-small" %>
		<% end %>
		<a href="#modal-<%= collection.id %>" data-toggle="modal" data-target="#modal-<%= collection.id %>" class="btn btn-small">Expand</a>
		<%= toggle_like_collection_button(collection, current_user) %>		
		<% unless collection.events.empty? %>
			<span class="label label-info">Event!</span>
		<% else %>
		<% end %>
		<!-- add like count somewhere here, but .flaggings command not working -->
	</div>	
	<%= link_to(collection_path(collection), class: "thumbnail") do %>
		<%= image_tag collection.image_url(:thumb).to_s %>
		<div class="caption">
			<h5 class="collection"><%= collection.name %></h5>
			<p class="collection"><%= collection.description %></p>
		</div>
	<% end %>
</li>

<!-- Enlarge Image Modal -->
<div id="modal-<%= collection.id %>" class="modal hide fade">
  <div class="modal-header">
  	<a class="close" data-dismiss="modal">x</a>
  	<h3><%= collection.name %></h3>
  </div>
  <div class="modal-body">
    <%= image_tag collection.image_url.to_s %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<% end %>