<h1>Your account settings</h1>

<%= form_for(@user) do |f| %>
	<label><%= f.label :name %></label>
	<div class="input"><%= f.text_field :name %></div><br>
	<label><%= f.label :email %></label>
	<div class="input"><%= f.text_field :email %></div><br>
	<label><%= f.label :user_bio %></label>
	<div class="input"><%= f.text_field :user_bio %></div><br><br>
	<div class="alert-message block-message info">Please enter your password and click "Update Changes" to update your settings.</div><br>
	<label><%= f.label :password %></label>
	<div class="input"><%= f.password_field :password %></div><br>
	<label><%= f.label :password_confirmation, "Password again" %></label>
	<div class="input"><%= f.password_field :password_confirmation %></div>	<br>
	<div class="submitbutton"><%= f.submit "Update Changes", class: "btn btn-primary large" %></div>
<% end %>			