<div class="container">
  <div class="centralize">
    <%= link_to image_tag('ruuvalogo.png'), root_path %><br>
  </div>
  <div class="centralize">
  	<a href="/auth/facebook"><div class="fbloginbtn"></div></a>
    <%= image_tag 'or.png' %>
	<%= form_for(@user) do |f| %>
		<%= render 'shared/flash_notices' %>
		<%= render 'shared/error' %>
		<label><%= f.label :name, "Name (Max Length: 50)" %></label>
		<div class="input"><%= f.text_field :name %></div>
		<label><%= f.label :email %></label>
		<div class="input"><%= f.text_field :email %></div>
		<label><%= f.label :password, "Password (Min Length: 6)" %></label>
		<div class="input"><%= f.password_field :password %></div>
		<label><%= f.label :password_confirmation, "Password again" %></label>
		<div class="input"><%= f.password_field :password_confirmation %></div>
		<div class="submitbutton"><%= f.submit "Sign Me Up!", class: "btn btn-large btn-success" %></div>
	<% end %>		
  </div>
</div>

	

