<div class="container headline page-header">
	<h1><%= @title %></h1>
</div>			
<!-- Center Column, Main -->
<% unless @users.empty? %>
<ul class="thumbnails">
	<% @users.each do |user| %>
	<% if user.shop? %>
	<li>	
		<%= link_to(shop_user_path(user), class: "thumbnail") do %>
			<% if user.avatar? %>
				<%= image_tag user.avatar_url, class: "marketplace-avatar" %>
			<% else %>
				<%= gravatar_for user, size: 190 %>
			<% end %>
			<div class="caption">
				<h5><%= user.name %></h5>
				<!-- <p>Category or description</p> -->
			</div>
		<% end %>
	<% end %>			
	</li>
	<% end %>	
</ul>
<% end %>
