<% if current_user %>
<div class="spanleft-newsfeed">
	<%= gravatar_for @user %>
	<div class="profilename"><%= @user.name %></div>
	<div class="profilebio"><%= @user.user_bio %></div>
	<div class="shopfollowbutton"><div class="btn shopuser primary">Follow User</div></div>		
	<div class="shopviewbutton"><div class="btn shopuser primary">View User</div></div>				<div class="profilename">Posts: <%= @user.posts.count %></div>		
</div>			

<!-- Center Column, Main -->
<div class="spanright-newsfeed">
	<ul class="tabs" data-tabs="tabs">
  		<li class="active"><a href="#following">Following</a></li>
 	 	<li><a href="#newshops">New Shops</a></li>
 	 	<li><a href="#popular">Popular</a></li>
	</ul>
	<% unless @user.posts.empty? %>
		<%= render @posts %>
	<% end %>
</div>
<% else %>
<div class="containertop">
	<div class="row" id="home">
		<section id="caption" class="page-header">
			<h1>
				This is the wall feed of <%= User.find(params[:id]).name %>. Login to see!
			</h1>

		</section>			
	</div>
</div>	
<% end %>