<div class="feed-item span8">
	<div class="profilephoto"><%= gravatar_for feed_item.user, size: 48 %></div>
	<div class="feed">
		<div class="name"><%= link_to feed_item.user.name, feed_item.user %></div>
		<div class="updates"><%= feed_item.content %></div>
		<div class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
		<% if current_user==feed_item.user %>
			<%= link_to "Delete", feed_item, method: :delete, 
										confirm: "You sure?", 
										title: feed_item.content %>
		<% end %>
		</div>
	</div>
	<div class="clearfix"></div>
</div>