<div class="container user-info">
	<div class="photo">
		<% if @user.avatar? %>
			<%= image_tag @user.avatar_url, class: "avatar" %>
		<% else %>
			<%= gravatar_for @user, size: 64 %>
		<% end %>
	</div>
	<div class="namebio">
		<div class="name span6"><%= @user.name %></div>
		<div class="bio span2"><%= @user.user_bio %></div>
	</div>
	<% unless current_user?(@user) %>
	<div class="btnbox">
		<%= render 'users/follow_form' %>
	</div>
	<% end %>
	<div class="followers">
		Followers
		<div class="number"><a href="<%= followers_user_path(@user) %>" id="followers"><%= @user.followers.count %></a></div>
	</div>
	<div class="btnbox"><%= link_to "View Shop", shop_user_path(@user), class: "btn btn-medium shop-btn" %></div>
	<div class="btnbox"><%= link_to "View Wall", user_path(@user), class: "btn btn-medium wall-btn" %></div>
</div>