<div class="container user-info">
	<div class="photo"><%= gravatar_for @user, size: 64 %></div>
	<div class="namebio">
		<div class="name"><%= @user.name %></div>
		<div class="bio"><%= @user.user_bio %></div>
	</div>
	<% unless current_user?(@user) %>
	<div class="btnbox">
		<a href="#" class="btn primary large"><%= render 'users/follow_form' %></a>
	</div>
	<% end %>
	<div class="followers">
		Followers
		<div class="number"><a href="<%= followers_user_path(@user) %>" id="followers"><%= @user.followers.count %></a></div>
	</div>
	<div class="following">
		Following
		<div class="number"><a href="<%= following_user_path(@user) %>" id="following" class="number"><%= @user.following.count %></a></div>
	</div>
</div>