<ul class="thumbnails">
	<li class="thumbnail">
	<%= image_tag @collection.image_url(:event).to_s %>
		<div class="caption">
			<h5 class="collection"><%= @collection.name %></h5>
			<p class="collection"><%= @collection.description %></p>
		</div>
	</li>

	<li class="well span4">

		<h2>Event for <%= @collection.name %></h2>
		<h5>Event Date and Time</h5>
		<p><%= @event.date_time.in_time_zone("Singapore") %> GMT</p>
		<h5>Event Description</h5>
		<p><%= @event.description %></p>
		<p><%= toggle_attending_event_button(@event, current_user) %></p>
		<% if current_user?(@user) || current_user.admin? %>
			<p><%= link_to "Edit", edit_event_path(@event), class: "btn btn-small" %></p>
			<p><%= link_to "Cancel Event", @event, method: :delete, confirm: "You sure?", class: "btn btn-small btn-danger" %></p>
		<% end %>

	</li>
</ul>