<div class="container headline shop-header">
	<div class="container">
		<% unless @user.cover_photo? %>
			<% if current_user == @user %>
			<div class="add-cover-photo">
				<h3>Look! You have a large empty space here that looks kinda boring...why not add a cover photo to spice it up?</h3>
				<br>
				<%= link_to "Add a cover photo for your shop front!", edit_user_path(current_user), class: "btn btn-large" %>
			</div>
			<% end %>
		<% else %>
		<%= image_tag @user.cover_photo_url(:cover_photo_thumb).to_s %>
		<% end %>
	</div>
</div>	
<%= render 'shared/user_info' %>
<%= render 'shared/flash_notices' %>
<%= render 'events/breadcrumb' %>
<%= render 'events/event_details' %>
