<% if current_user %>
	<div class="container">
		<%= render 'shared/user_info' %>		
		<%= render 'shared/flash_notices' %>
		<div class="container">
			<%= render 'shared/post_form' %>
			<%= render 'shared/user_statistics' %>
		</div>
			<%= render 'shared/feed' %>
	</div>
<% else %>
	<%= render 'pages/index' %>
<% end %>