<div class="tab-content">
 	<div id="following" class="active">
		<ul>
			<li>
				<div class="profilephoto"><%= gravatar_for @user, size: 48 %></div>
				<div class="feed">
					<div class="name"><%= link_to @user.name, @user %></div>
					<div class="updates"><%= post.content %></div>
					<div class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.
					<% if current_user==post.user %>
						<%= link_to "Delete", post, method: :delete, 
													confirm: "You sure?", 
													title: post.content %>
					<% end %>
					</div>
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
  	</div>
 	<div id="newshops">
		<ul>
			<li>
				<div class="profilephoto"><img src="http://placehold.it/48x48.png" /></div>
				<div class="feed">
					<div class="name"><a href="#">DKNY</a></div>
					<div class="updates">New shop updates!</div>
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
				<div class="profilephoto"><img src="http://placehold.it/48x48.png" /></div>
				<div class="feed">
					<div class="name"><a href="#">DKNY</a></div>
					<div class="updates">Photo or new updates</div>
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
  	</div>

 	<div id="popular">
		<ul>
			<li>
				<div class="profilephoto"><img src="http://placehold.it/48x48.png" /></div>
				<div class="feed">
					<div class="name"><a href="#">DKNY</a></div>
					<div class="updates">Popular updates!</div>
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
				<div class="profilephoto"><img src="http://placehold.it/48x48.png" /></div>
				<div class="feed">
					<div class="name"><a href="#">DKNY</a></div>
					<div class="updates">Photo or new updates</div>
				</div>
				<div class="clearfix"></div>
			</li>			
		</ul>
  	</div>					  						  	
</div>