<div class="feed-item thumbnail-feed">
	<% unless post.image_url.nil? %>
		<img src="<%= post.image_url %>" />
		<div class="clear"></div>
	<% end %>
	<div class="caption">
		<p class="feed-avatar">
			<% if @user.shop? %>
				<%= link_to(shop_user_path(@user)) do %>
					<% if @user.avatar? %>
						<%= image_tag @user.avatar_url, class: "feed-avatar" %>
					<% else %>
						<%= gravatar_for @user, size: 30 %>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to(user_path(@user)) do %>
					<% if @user.avatar? %>
						<%= image_tag @user.avatar_url, class: "feed-avatar" %>
					<% else %>
						<%= gravatar_for @user, size: 30 %>
					<% end %>
				<% end %>
			<% end %>
		</p>	
		<div class="feed-update">
			<h5 class="feed-name"><%= link_to @user.name, @user %></h5>
			<p class="feed-content"><%= post.content %></p>
			<p class="timestamp">
				Posted <%= time_ago_in_words(post.created_at) %> ago.
				<% if current_user?(post.user) %>
					<%= link_to "Delete", post, method: :delete, 
												confirm: "You sure?", 
												title: post.content %>
				<% end %>				
			</p>
		</div>
	</div>
</div>
