<% if current_user?(@user) %>
	<div class="thumbnail span5">
		<%= image_tag @product.product_image_url(:event) %>
		<h3><%= @product.name %></h3>
		<p><%= @product.description %></p>
	</div>
	<%= form_for @product, html: { multipart: true } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			<div class="well span6">
				<div class="caption">
					<h2>Edit product</h2>
					<p><%= f.label :product_image, "Product Picture (Max Size: 2mb)" %></p>
					<p><%= f.file_field :product_image %></p>
					<p><%= f.label :product_image, "or enter your photo's URL (you MUST include http://)" %></p>
					<p><%= f.text_field :remote_product_image_url %></p>
					<h5><%= f.label :name, "Product Name (Max Length: 100)" %></h5>
					<h5><%= f.text_field :name %></h5>
					<p><%= f.label :description, "Product Description (Max Length: 200)" %></p>
					<p><%= f.text_area :description, rows: 4 %></p>
					<p><%= f.label :price, "(Optional) Price (Max Length: 10)" %></p>
					<p><%= f.text_field :price %></p>					
					<p><%= f.label :url, "(Optional) Enter URL Link (you MUST include http://) " %></p>
					<p><%= f.text_field :url %></p>
					<p><%= f.submit "Save Changes", class: "btn btn-medium" %><p>
				</div>
			</div>
	<% end %>
<% end %>