<% @products.each do |product| %>
<li>
	<div class="hover-buttons">	
		<% if current_user?(@user) %>
			<%= link_to "Delete", product, method: :delete,	confirm: "You sure?", title: product.name, class: "btn btn-small btn-danger" %>
		<% end %>				
		<a href="#modal-<%= product.id %>" data-toggle="modal" data-target="#modal-<%= product.id %>" class="btn btn-small">Expand</a>
		<%= toggle_like_product_button(product, current_user) %>
	</div>	
	<% if product.url? %>
		<a href="http://<%= product.url %>" target="_blank" class="thumbnail">
			<%= image_tag product.product_image_url(:thumb).to_s %>
			<div class="caption">
				<h5 class="collection"><%= product.name %></h5>
				<p class="collection"><%= product.description %></p>
				<p class="collection"><%= product.price %></p>
			</div>
		</a>
	<% else %>
		<a class="thumbnail">
			<%= image_tag product.product_image_url(:thumb).to_s %>
			<div class="caption">
				<h5 class="collection"><%= product.name %></h5>
				<p class="collection"><%= product.description %></p>
				<p class="collection"><%= product.price %></p>
			</div>
		</a>
	<% end %>
</li>

<div id="modal-<%= product.id %>" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3><%= product.name %></h3>
	</div>
	<div class="modal-body">
		<%= image_tag product.product_image_url.to_s %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<% end %>