<div class="product-item">
	<div class="hover-buttons">	
		<% if current_user?(@user) || current_user.admin? %>
			<%= link_to "Delete", product, method: :delete,	confirm: "You sure?", title: product.name, class: "btn btn-small btn-danger" %>
			<%= link_to "Edit", edit_product_path(product.id), class: "btn btn-small" %>
		<% end %>
	<% if product.url? %>						
		<a href="<%= product.url %>" target="_blank" class="btn btn-small">Link</a>
	<% else %>		
	<% end %>		
		<%= toggle_like_product_button(product, current_user) %>
	</div>	
		<a href="#modal-<%= product.id %>" data-toggle="modal" data-target="#modal-<%= product.id %>" class="thumbnail">			
			<%= image_tag product.product_image_url(:product).to_s %>
			<div class="caption caption-product">
				<h5 class="collection"><%= product.name %></h5>
				<p class="collection"><%= product.description %></p>
				<p class="collection"><% if product.price? %>$<%= product.price %><% end %></p>
			</div>
		</a>
</div>

<div id="modal-<%= product.id %>" class="modal hide">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3><%= product.name %></h3>
		<%= product.description %>
	</div>
	<div class="modal-body">
		<%= image_tag product.product_image_url.to_s %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

