<footer class="footer container centralize">
	&copy <%= link_to image_tag('ruuvalogofooter.png'), root_path %> <%= Time.now.year %> •
	<%= link_to 'About', about_path %> •
	<a href="http://blog.ruuva.com">Blog</a> •
	<%= link_to 'Contact', contact_path %> •
	<%= link_to 'Help', help_path %> •
	<%= link_to 'Terms', terms_path %>
</footer>
