<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
	<div class="wrapper">
	  	<!-- Navigation Top Bar -->	
        <% if current_user %>
	  	    <%= render 'layouts/navbar' %>
        <% end %>
	  	<div class="container">
    		<%= yield %>
    	</div>
    	<div class="push"></div>	
    </div>
</body>
</html>