<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="<%= @meta_description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'shared/analytics' %>
</head>

<body>
	<div class="wrapper">
	  	<!-- Navigation Top Bar -->	
        <% if current_user %>
	  	    <%= render 'layouts/navbar' %>
        <% end %>
	  	<div class="container">
    		<%= yield %>
    	</div>
    	<div class="push"></div>
        <%= render 'layouts/footer' %>	
    </div>

    <!-- clickky tracking code -->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66547026); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66547026ns.gif" /></p></noscript>
    
</body>
</html>